@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&display=swap');
.typeWritierText{
    display: inline-block;
    font-family: "Jura", serif;
}

.typeWritierText1{
    font-family: "Jura", serif;
}

.typeWritierText2{
    font-family: "Jura", serif;
}

.typeWritierText3{
    font-family: "Jura", serif;
}
