---
import ThreeDModal from "../Three/Three";
import Cursor from "../Three/Cursor";
import AnimatedText from "../Three/AnimatedText/AnimatedText";
import Navigation from "./Navigation";
---

<html>
  <head>
    <title>3D Website</title>
  </head>
  <body>
    <div>
      <Navigation />
    </div>
    <div class="cursor">
      <Cursor client:load />
    </div>
    <div class="animatedeText">
      <AnimatedText client:load firstName="Sajak" lastName="Shrestha" />
    </div>
    <div id="three-container">
      <ThreeDModal client:load />
    </div>
  </body>
</html>

<style>
  h1 {
    color: red;
    text-align: center;
  }

  .animatedeText {
    margin-bottom: 5rem;
  }
</style>
