---
import ThreeDModal from "../Three/Three";
import Cursor from "../Three/Cursor";
import AnimatedText from "../Three/AnimatedText/AnimatedText";
import Navigation from "./Navigation/Navigation";
---

<html>
  <head>
    <title>3D Website</title>
  </head>
  <body>
    <div class="hero-section-grid">
      <div>
        <Navigation client:load />
      </div>
      <div class="cursor">
        <Cursor client:load />
      </div>
      <div>
        <div class="loader"></div>
        <div class="animatedeText">
          <AnimatedText client:load firstName="Sajak" lastName="Shrestha" />
        </div>
      </div>
    </div>
    <div id="three-container">
      <ThreeDModal client:load />
    </div>
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&display=swap");

  h1 {
    color: red;
    text-align: center;
  }

  .animatedeText {
    margin-bottom: 5rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .loader {
    height: 2rem;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-family: "Rubik Vinyl", serif;
  }

  .hero-section-grid {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    width: 100vw;
  }
</style>
