---
import ThreeDModal from "../Three/Three";
import Cursor from "../Three/Cursor";
---

<html>
  <head>
    <title>3D Website</title>
  </head>
  <body>
    <h1>Welcome to my 3D website</h1>
    <div class="cursor">
      <Cursor client:load />
    </div>
    <div id="three-container">
      <ThreeDModal client:load />
    </div>
  </body>
</html>

<style>
  h1 {
    color: red;
    text-align: center;
  }

  .cursor {
    background-color: red;
  }
</style>
